appdirs==1.4.3
beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
chromote==0.4.0
cssselect==1.0.3
dateparser==0.7.0
docxtpl==0.5.17
feedfinder2==0.0.4
feedparser==5.2.1
idna==2.8
jieba3k==0.35.1
Jinja2==2.10
lxml==4.3.0
MarkupSafe==1.1.0
newspaper3k==0.2.8
nltk==3.4.5
peewee==3.8.2
Pillow==5.4.1
pygubu==0.9.8.2
python-dateutil==2.7.5
python-docx==0.8.7
pytz==2018.9
PyYAML==3.13
readability-lxml==0.7
regex==2018.11.22
requests==2.21.0
requests-file==1.4.3
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.7.2
tinysegmenter==0.3
tldextract==2.2.0
tzlocal==1.5.1
urllib3==1.24.1
websocket-client==0.54.0
wincertstore==0.2
